html {
    margin: 0;
    text-align: center;
}

header {
    width: 100%;
}

div {

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-bottom: 64px;
}

#button-container {
    justify-content: center;
    gap: 48px;
    margin-top: 64px;
}

.choiceButtons {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 3px solid black;
    border-radius: 50%;
    box-shadow: 2px 2px 15px gray;
    padding: 12px;
}

.choiceButtons:hover {
    background-color: lightgreen;
}

#result-display {
    width: 250px;
    height: 250px;

    border: 1px solid black;
}

.display {
    width: 200px;
    
}

.display > img {
    width: 150px;
}